<!--
  bottom-nav.ejs
  Chirag Jain
  301307988
  October 2nd, 2022
-->


<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="container-fluid">
      <h10 class="display-6 navbar-text"> &copy; Copyright 2022. All Rights Reserved</h10>
      
    </div>
  </nav>
</footer>