<!--
  footer.ejs
  Chirag Jain
  301307988
  October 2nd, 2022
-->


<!--Script Section-->
  

<script src = " /Scripts/app.js"></script>
<script src = " /bootstrap/dist/js/bootstrap.min.js"></script>
<script src = " /jquery/dist/jquery.min.js"></script>

</body>
</html>
